body {
  background: lightblue;
  box-sizing: border-box;
}

.box {
  background: #eee;
  border: 3px solid #777;
  position: relative;
  width: 400px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 5px;
}

input, label, button {
  font-weight: 600;
  display: block;
  margin: 10px auto;
  width: 95%;
}

input, button {
  padding: 5px;
  border-radius: 5px;
  height: 30px;
  border: 2px solid #ddd;;
}

button {
  padding: 5px 10px;
  background: lightblue;
  border: 1px solid #777;
  cursor: pointer;
}

.property-list {
  font-weight: 600;
}
